* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0e3352;
}

.profile-img {
    max-width: 200px;
    max-height: 220px;
    object-fit: cover;
    border-radius: 50%;
}

.name-title {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    color: #FFF;
}

main {
    padding: 10px;
}

.lessons-list {
    padding: 15px;
}

.lesson-item {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0e3352;
    color: #FFF;
}

.footer-description {
    margin-bottom: 5px;
}