:root {
    --primary-color: #0C0C0C;
    --secondary-color: #E0E0E0;
    --accent-color: #3D97E0;
    --text-color: #0C0C0C;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--text-color);
}