@media screen and (min-width: 850px) {
    header .burger-menu {
        display: none;
    }

    header {
        grid-template-columns: 1fr 1fr 30px 30px;
    }

    header .logo-title {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    header .logo {
        display: none;
    }

    header nav {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    nav .nav-list {
        display: flex;
        justify-content: space-evenly;
    }

    nav .nav-list li {
        border-top: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
    }

    nav .nav-list li:hover {
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.8);
    }

    .hero div button {
        font-size: 1.5rem;
    }

    .temple h2, .contact h2, .weather h2 {
        font-size: 1.5rem;
    }

    .contact {
        grid-column: 3/4;
    }

    .cards {
        margin: 0 auto;
        max-width: 1024px;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    footer .footer-data {
        grid-column: 1/-1;
    }

    footer .maps {
        width: 400px;
        justify-self: end;
    }

    form {
        margin: 0;
    }

    .temples {
        max-width: 1024px;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .reception {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .reception div:nth-child(2) {
        align-self: center;
    }

    .temple-missionary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .temple-missionary h2 {
        grid-column: 1/-1;
    }

    .temple-missionary form {
        grid-column: 1/-1;
    }
}