* {
    font-family: sans-serif;
}

:root {
    --primary-color: #7d6598;
    --secondary-color: #efc319;
}

#burgerBtn span:nth-child(1) {
    display: block;
}

#burgerBtn span:nth-child(2) {
    display: none;
}

#burgerBtn.open span:nth-child(1) {
    display: none;
}

#burgerBtn.open span:nth-child(2) {
    display: block;
}

header .logo-title {
    display: none;
}

header {
    padding: 0.8rem 0.2rem;
    display: grid;
    grid-template-columns: 1fr 30px 30px 60px;
}

header .burger-menu {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

.social-icon {
    width: 24px;
    align-self: center;
}

.instagram-icon {
    margin-left: 0.4rem;
}

header nav {
    grid-column: 1/-1;
}

nav .nav-list {
    padding: 0.5rem;
    display: none;
    margin-bottom: 0;
}

nav .nav-list li {
    list-style: none;
    text-align: center;
    padding: 0.4rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav .nav-list li a {
    text-decoration: none;
    color: #555;
}

nav .open {
    display: block;
}

.hero {
    position: relative;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
}

.hero picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}


.hero img {
    width: 100%;
    object-fit: cover;
}

.hero div {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero div h2 {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
}

.hero div button {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 0.5rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
}

main .cards {
    display: grid;
    margin: 1.5rem auto;
}

main .temple {
    text-align: center;
    border: 3px solid var(--primary-color);
    margin: 0.2rem;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
} 

.temple picture img {
    width: 100%;
    border-radius: 0.2rem;
}

main .contact {
    text-align: center;
    border: 3px solid var(--primary-color);
    margin: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
}

main .weather {
    text-align: center;
    border: 3px solid var(--primary-color);
    margin: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
}

.weather img {
    width: 30%;
}

.weather .temp {
    font-size: 2rem;
    font-weight: 700;
}

footer {
    background-color: #555;
    color: #FFF;
    margin: 0;
}

footer .footer-data {
    text-align: center;
    width: 100%;
}

footer .last {
    padding: 0.5rem;
}

footer .maps {
    width: 100%;
}

footer .maps iframe {
    width: 100%;
}

form {
    padding: 0 0.5rem;
    max-width: 400px;
}

footer form input {
    padding: 0.5rem 0;
}

footer form label, footer form input, footer form textarea, footer form button {
    display: block;
    width: 99%;
}

footer form input, footer form textarea, footer form button {
    margin-bottom: 0.8rem;
}

footer form input:focus, footer form textarea:focus {
    outline: 1px solid var(--primary-color);
}

footer form button {
    border: none;
    background-color: var(--primary-color);
    font-weight: 700;
    color: #FFF;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.temples {
    display: grid;
    gap: 1rem;
}

.temple-card {
    margin: 0 0.2rem;
    border: 3px solid var(--primary-color);
    border-radius: 0.5rem;
}

.temple-card h3, .temple-card p, .temple-card ul, .temple-card a, .temple-card button {
    margin-left: 0.5rem;
}

.temples .temple-card img {
    width: 100%;
    overflow: hidden;
}

.temple-card .label {
    margin-bottom: 0;
    font-weight: 700;
}

.temple-card .para, .temple-card ul {
    margin-top: 0.2rem;
}

.temple-card a {
    width: fit-content;
    display: block;
    text-decoration: none;
    color: #FFF;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.temple-card button {
    color: #FFF;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: #FFF;
    padding: 0.5rem;
}

.close {
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close:hover {
    color: #b82323;
}

.form-container {
    max-width: 1024px;
    margin: 1rem auto;
}

.form-container form {
    max-width: 400px;
}

.form-container form .top, .form-container form span {
    display: block;
}

.form-container form .sbs {
    display: block;
}

.form-container form .last-radio {
    margin-bottom: 1rem;
}

.form-container form .input-top {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.05);
    color: #555;
    border-radius: 0.3rem;
}

.form-container form .input-top:focus {
    outline: 2px solid var(--primary-color);
    border-radius: 0.3rem;
}

.form-container form button {
    width: 100%;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
}

.services, .reception, .temple-missionary {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0.5rem;
}

.reception img, .temple-missionary img {
    width: 100%;
}

.temple-missionary form {
    justify-self: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.temple-missionary form input, .temple-missionary form textarea, .temple-missionary form button {
    width: 100%;
}

.temple-missionary form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.05);
    color: #555;
    border-radius: 0.3rem;
}

.temple-missionary form textarea {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.05);
    color: #555;
    border-radius: 0.3rem;
}

.temple-missionary form input:focus, .temple-missionary form textarea:focus {
    outline: 2px solid var(--primary-color);
    border-radius: 0.3rem;
}

.temple-missionary form button {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
}