main {
    margin: 0 30px;
}

h2 {
    font-size: var(--heading-1);
    font-weight: 700;
    margin-bottom: 10px;
}

p, ul {
    margin-bottom: 10px;
}

p, li {
    font-size: var(--paragraph);
}

.resources-list {
    margin-left: 20px;
}